:root {
    --font-color: black;
    --border-color: 1px solid black;
    --secondary-border-color: 1px dashed black;
    --background-color: #FFFDE1;
    --healthy-green: #86AC55;
    --earthy-orange: #EA9B5E;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--font-color);
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.appWrapper {
    display: grid;
    grid-template-rows: .5fr 1fr 7fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    min-width: 320px;
    width: 1024px;
    height: 150vh;
}

.topAndNavigation {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background-color: var(--earthy-orange);
}

.pageNavigation {  
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navContainer {
    display: flex;
}

.subtitleContainer {
    background-color: var(--healthy-green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.topHeader {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}

.mainOfferContainer {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 1024px;
}

.mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainOfferImage1 {
    background: url(images/bowl1.jpg);
    background-size: cover;
    margin: 10px;
}

.mainOfferImage2 {
    background: url(images/bowl2.jpg);
    background-size: cover;
    margin: 10px;    
}

.mainOfferImage3 {
    background: url(images/bowl3.jpg);
    background-size: cover;
    margin: 10px;    
}

.mainOfferImage4 {
    background: url(images/bowl4.jpg);
    background-size: cover;
    margin: 10px;    
}

.menuContainer {
    display: grid;
    grid-template: 1fr 4fr / 2fr 1fr;
    height: 100%;
    width: 1024px;
    background-color: var(--background-color);
}

.menuSection {
    border: var(--border-color);
}

.appetizer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    height: 100%;
}

.appetizerHeader,
.entreeHeader,
.drinkHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--secondary-border-color);
}

.appetizerTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    height: 100%;    
}

.appetizerBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;    
}

.appetizerItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.entree {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.entreeSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}

.drink {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.drinkSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;    
}

.entreeItem,
.drinkItem {
    text-align: center;
}

.mainOfferContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;    
}

.mainOfferContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
}

.footer {
    
}
