:root {
    --font-color: black;
    --border-color: 1px solid black;
    --secondary-border-color: 1px dashed black;
    --background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--font-color);
}

body {
    display: flex;
    justify-content: center;
    background: url(images/inglewoodColor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.appWrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 7fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    min-width: 320px;
    max-width: 1024px;
    width: 80%;
    height: 150vh;
    background-color: var(--background-color);
    border: var(--border-color);
}

.pageNavigation {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: var(--border-color);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-color);
}

.menuContainer {
    display: grid;
    grid-template: 1fr 4fr / 2fr 1fr;
    height: 100%;
}

.menuSection {
    border: var(--border-color);
}

.appetizer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    height: 100%;
}

.appetizerHeader,
.entreeHeader,
.drinkHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--secondary-border-color);
}

.appetizerTop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    height: 100%;    
}

.appetizerBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;    
}

.appetizerItem {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.entree {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.entreeSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}

.drink {
    display: grid;
    grid-template-rows: 1fr 9fr;
}

.drinkSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;    
}

.entreeItem,
.drinkItem {
    text-align: center;
}

.mainOfferContainer {
  position: relative;
  height: 100vh;
  overflow: hidden;    
}

.mainOfferContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.footer {
    border: var(--border-color);
}
