* {
    border: 1px solid black;
}

body {
    display: flex;
    justify-content: center;
}

.appWrapper {
    display: grid;
    grid-template-rows: 2fr 1fr 7fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    min-width: 320px;
    max-width: 1024px;
    width: 80%;
    height: 100vh;
}



